:root {
  --color-background-white: hsl(165, 40%, 98%);
  --color-background-gray: hsl(0, 0%, 93%);
  --color-main: hsl(160, 59%, 53%);
  --color-text-gray: hsl(0, 0%, 20%);
  --color-accent-gray: hsl(205, 17%, 81%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  color: var(--color-text-gray);
  font-family: 'Roboto', 'Noto Sans JP';
}
